{{#each this}}
<li class="event__item">
  <img class="event__img" src="{{image}}" alt="{{name}}" />
  <p class="event__data">{{data}}</p>
  <h4 class="event__subject">
    {{name}}
  </h4>
  <a class="event__link active" href="{{link}}">Смотреть больше...</a>
</li>
{{/each}}